@charset "UTF-8";
.navbar-top {
  position: fixed;
  top: 0;
  background-color: black;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: darkgray; /* Matches the navbar-dark class */
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1000; /* Ensure it stays above other content */
}
.navbar-top:hover .delimeter {
  display: none;
}
.navbar-top .nav-item {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 0.4rem;
  border-bottom: none;
  border-top: none;
  overflow: hidden;
}
.navbar-top .nav-item.delimeter {
  width: 5px; /* Ширина линии */
  z-index: 1;
}
.navbar-top .nav-item.delimeter::after {
  content: "|";
  width: 100%; /* Ширина линии */
  color: red;
  background-color: red; /* Цвет линии */
}
.navbar-top .nav-item .nav-item-text {
  position: relative;
  z-index: 2; /* Текст находится выше фона */
  color: black; /* Цвет текста */
}
.navbar-top .nav-item .nav-item-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darkgray; /* Цвет фона */
  z-index: 1; /* Задний план */
}
.navbar-top .nav-item:hover {
  cursor: pointer;
  /*+.delimeter {
      &::after {
          display: none;
      }
  }

  ~.delimeter {
      &::after {
          display: none;
      }
  }*/
}
.navbar-top .nav-item:hover .nav-item-background {
  transition-duration: 0.3s;
  filter: brightness(1.3);
}

.navbar-toggler {
  display: none; /* Hide the checkbox if not used */
}
