<nav class="navbar-top">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="modifiedvigenere" Match="NavLinkMatch.All">
            <div class="nav-item-background"></div>
            <span class="nav-item-text" aria-hidden="true">Modified</span>
        </NavLink>
    </div>
    <div class="nav-item delimeter"></div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="defaultvigenere">
            <div class="nav-item-background"></div>
            <span class="nav-item-text" aria-hidden="true">Default</span>
        </NavLink>
    </div>
</nav>